.page-top
{
	margin: 0 ;
	padding: 0 ;
}

.page-top p
{
	margin: 0 ;
	padding: 0 ;

	position: fixed ;
	right: 16px ;
	bottom: 66px ;
}

.move-page-top
{
	display: block ;
	background :black ;
	width: 60px ;
	height: 40px ;
	border:2px #004774 solid shadow;

	color: white!important;
	font-family: 'Libre Baskerville', serif !important;
	line-height: 40px ;
	text-decoration: none ;
	text-align: center ;
	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	transition:all 0.3s ;
}

.move-page-top:hover
{
	opacity: 0.75 ;
}
/*
.page-top
{
	display: none ;
}
*/
